



.nav-container {
	display: flex;
	flex-direction: column;	
	align-items: center;  
}

.profilepic img {
	width: 65%;
	@include mq(medium) {
	margin-left: 15px;
	}
	@include mq(large) {
	width: 35%;
	height: 35%;
		
	}
}
	

.nav li {
	display: block;
	padding: 5px 0px 5px 0px;
	@include mq(medium){
		display: inline-block;
	padding: 5px 10px 5px 10px;
	}
	@include mq(large){
		display: inline-block;
	padding: 5px 10px 5px 10px;
	}
}

.nav-container {
	display: flex;
	color: $hcolor;	
	
	@include mq(medium){
		flex-direction: column;
	}
	@include mq(large){
		flex-direction: row;
	justify-content: space-between;
	margin-left: 2rem;
	margin-right: 2rem;	
	}
}

.nav {
	padding: 0;
	li {
	@extend %nodecoration;		
	}
	
	a {
	color: $hcolor;
	font-family: $mainstack;
	line-height: 1.5;
	font-weight:600;
	@extend %nodecoration;
	}
}



