@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans|Ubuntu');

/*  Basic Layout  */

body {
	@extend %centered;
	color:$primary-color;
	font-size: $defaultfz;
	margin: 0;
	font-family: $mainstack;
	line-height: 1.5;
	
	
}

img {
    width: 100%;	
}

h1 {
	font-size: $font2x;
	@extend %sans;
}
h2 {
	font-size: $font1-8;
	@extend %headercolor;
	@extend %sans;
}
h3 {
	font-size: $font1-6;
	@extend %headercolor;
}
h4 {
	font-size:$font1-4;
	@extend %headercolor;
}
h5 {
	font-size: $font1-3;
}
h6 {
	font-size: $font1-2;
}

p  {
	font-size: font1;	
}