/// Clor Variables

$hcolor : #4a4a4a;

/// Fonts

$SS : sans-serif;

$mainstack : 'lato', 'Open Sans', sans-serif;



/// Media Queries variables

$breakpoint-medium : 768px;
$breakpoint-large : 1024px;


///