/// Color Variables

$hcolor : #4a4a4a;
$primary-color: #797e84;

/// Fonts

$SS : sans-serif;
$mainstack : 'lato', 'Open Sans', sans-serif;

//font Sizes;

$defaultfz : 16px;
$font2x : 2rem;
$font1-8: 1.8rem;
$font1-6: 1.6rem;
$font1-4: 1.4rem;
$font1-3: 1.3rem;
$font1-2: 1.2rem;
$font1-1: 1.1rem;
$font1: 1rem;

/// Media Queries variables

$breakpoint-medium : 768px;
$breakpoint-large : 1024px;



///